<div class="row"> 

    <div class="col-md-6">
      <div class="card">

        
          {{#each burgers}}
            {{#unless this.devoured}}
              <div class="input-group my-4">
                <li class="form-control">{{id}}. {{this.burger_name}}</li> <button class="btn btn-light devour-button ml-3" data-id="{{id}}" type="submit">Devour It!</button>  
              </div>
            
            {{/unless}}
          {{/each}}

      </div>
    </div>

    <div class="col-md-6">
      <div class="card">

          {{#each burgers}}
            {{#if this.devoured}}
              <div class="input-group my-4">
                <li class="form-control">{{this.id}}. {{this.burger_name}}</li><button class="btn btn-light restore-button ml-3" data-id="{{id}}" type="submit">Restore</button>
              </div>
            {{/if}}
          {{/each}}

        </div>
    
    </div> 
</div>